body {
  background-color: rgba(219, 199, 199, 0.479);
  font-size: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.App {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  text-align: center;
}
li {
  list-style: none;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  background-color: rgb(126, 156, 212);
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  opacity: 0.8;
}
.btn__edit,
.btn__add {
  background-color: hsl(121, 37%, 44%);
}
.btn__remove {
  background-color: #8a3431;
}
.btn__linkTo {
  background-color: #e7dc3f;
}

label {
  display: block;
  padding: 20px;
}
