li {
  list-style: none;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
a {
  text-decoration: none;
}
.btn {
  background-color: rgb(214, 198, 198);
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
}
.btn__edit {
  background-color: hsl(121, 37%, 44%);
}
.btn__remove {
  background-color: #8a3431;
}
.btn__linkTo {
  background-color: #e7dc3f;
}
